<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="navbar-brand">Library App</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to('Главная', root_path, {class: "nav-link"}) %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категории</a>
        <div class="dropdown-menu" aria-labelledby="dropdown1">
          <% categories.each do |category| %>
            <%= link_to(category.title, category, {class: "dropdown-item"}) %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>